<div class="main">
	<div class="inner" style="border: 1px solid transparent">
	    <div class="title" style="margin-top: 24px">新建用户</div>
	    <div class="content content_newUser">
	       		<div id="roleid" class="rolesWrapper" style="padding:0 20% 0 27%; position: relative;">
		            <span class="fl"><i class="not-null">*</i>角色：</span>
		            <div class="fr lablesWrapper">
		            	<label ng-repeat="item in selectData.values" class="lables">
		                	<input ng-model="item.checked" ng-change = 'saveRoles()' name="roleName" type="checkbox" value="{{item.groupId}}" >&nbsp;{{item.groupName}}
		           		</label>
		            </div>
		            <div ng-click = "taggleAll()" class="showBtn">&#9660;</div>
		        </div>
		        <div class="clearfl"></div>
		        <p>
		            <span><i class="not-null">*</i>账号：</span>
		            <input type="text" id="username1" ng-model="username" maxlength="20" ng-keyup="usernameKeyup(event)" ng-blur="yanzheng()">
		            <!-- <span class="yanzheng" ng-click="yanzheng()">验证账号</span> -->
		        </p>
		        <p>
		            <span><i class="not-null">*</i>姓名：</span>
		            <input type="text" id="realName" ng-model="realName" maxlength="20" ng-keyup="realNameKeyup(event)">
		        </p>
		        <p>
		            <span><i class="not-null">*</i>邮箱：</span>
		            <input type="text" id="userMail" ng-model="userMail" maxlength="50" ng-keyup="userMailKeyup(event)">
		        </p>
		        <p>
		            <span>固定号码：</span>
		            <input type="text" id="userTel" ng-model="userTel" maxlength="18" ng-keyup="userTelKeyup(event)">
		            <i ng-mouseOver = "tellTipShow()" ng-mouseOut = "tellTipHidden()" class="inputTip"></i>
	                <a ng-show = "inputTipContext" class="inputTipBlank">例：010-12345678/13812345678</a>
		        </p>
		        <p class="text" style="height: 180px;">
		            <span class="beizhu">备注：</span>
		            <textarea cols="50" rows="8" id="remark" ng-model="remark" ng-keyup="remarkKeyup(event)" maxlength="200"></textarea>
		            &nbsp;还能输入<span class="number" id="number" ng-bind="number"></span>个字符
		        </p>
		        <p class="btn">
		            <button class="btn6 btn7-disabled save" ng-click="click()" id="save">保 存</button>
		            <button class="btn7 ml54" id="back" ng-click="back()">返 回</button>
		        </p>
	    </div>
	    <div class="inner-footer"></div>
	</div>
</div>
