.pair-dialog{
    width: 700px;
    height: 400px;
    position: fixed;
    margin: -200px -350px 0 0;
    top: 380px;
    right: 50%;
    z-index: 1200;
    background: #efefef;
}
.pair-dialog-title{
	height: 50px;
    line-height: 50px;
    text-indent: 23px;
    font-weight: 700;
}
.pair-title{
	width: 114px; 
	text-align: right;
}
.pair-wrap tr{
	height: 50px;
}
.pair-wrap input{
	width: 184px;
}
.pair-button{
	border: none;
    border-radius: 5px;
    display: inline-block;
    font-family: microsoft yahei;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 37px;
    cursor: pointer;
    background: #d8524a;
    margin: 0 20px;
}
.handle-btn{
	text-align: center;
    margin: 20px 0;
}
.producitonInfo{
	background: #f2f2f2;
	padding: 0 6px;
	border: 1px solid #ccc;
}
.pair-edit-readonly{
	background: #ccc;
	border: 1px solid #bbb;
}
.br-blank{
	text-align: center;
	background: #efefef;
	border: 1px solid #efefef;
}
.pair-edit-select{
	width: 184px;
	height: 24px;
}
.arrow_right{
	background:url(../../images/arrow_right.png) no-repeat right 18px;
	background-size: 85% 16px;
}

.table-th {
    width:100%;
    height: 30px;
    margin:0;
    padding:0;
    text-align:center;
    // border: 1px solid #ccc;
}
.table-th h5 {
    float: left;
    font-weight: 700;
    width: 19%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #f6f6f6;
     margin:0;
    padding:0;
     border-right: 1px solid #fff;

}
.table-th .hOne {
    width: 22%;
}

.table-tbody {
   width: 100%;
   margin:0;
    padding:0;
}
.table-tbody:nth-child(2n) p{
    background-color: #F7F7F7;
}
.table-tbody:nth-child(2n+1) p{
    background-color: #fff;
}
.capital-tbody:nth-child(2n+1) p{
    background-color: #F0F0F0;
}
.capital-tbody:nth-child(2n) p{
    background-color: #F7F7F7;
}

.table-tbody:hover .ps p{
    background-color: #dee9f9;
}

.table-tbody p{
    float: left;
    width: 19%;
    height: 34px;
    margin:0;
    padding:0;
    line-height: 34px;
     border-right: 1px solid #fff;
    text-align: center;
}
.table-tbody .hOne {
    width: 22%;
}
.capital-tbody p{
    float: left;
    width: 14%;
    height: 30px;
    margin:0;
    padding:0;
    line-height: 30px;
     border-right: 1px solid #fff;
    text-align: center;
}

.clearFix:after {
    height: 0px;
    display: block;
    line-height: 0px;
    clear: both;
    content: '';
}

.capital {
  width: 95%;
  margin: 16px 50px;
  height: 30px;

}

.capital .capital-th, .capital-tbody{
    width: 95%;
    height: 30px;
    margin:0;
    padding:0;
    text-align:center;
}
.capital .capital-th h5 {
    float: left;
    font-weight: 700;
    width: 14%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #eee;
     margin:0;
    padding:0;
     border-right: 1px solid #fff;

}

.imgIcon {
   position: absolute;
   left: 14px; 
   top:8px;
   width: 16px; 
   height: 16px;
   line-height:16px;
   text-align:center;
   border: 2px solid #000;
   border-radius: 3px;
   font-size: 18px;
   font-weight: 700;
   color: #000;
}
.imgIcon:hover {
    cursor: pointer;
}
